body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ff5252;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
  font-weight: bold;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #f7f1e3;
}

a {
	color: #ffda79;
}
